

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">APIntores</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Acerca de </a>
      <a class="nav-item nav-link" href="#">API</a>
      <b class="nav-item nav-link" href="C:\Users\LaloN45\proyectox\public\stylesheets\style.css">Ingeniería de Software, ICO FES Aragón</b>
    </div>
  </div>
</nav>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h1>Insertar Pintor nuevo: </h1>
<form action="/api/users/" method="put">
  <input type="text" name="id" >
  <input type="text" name="name" >
  <input type="text" name="lastname" >
  <input type="text" name="age" >
  <input type="text" name="born" >
  <input type="text" name="death" >
  <input type="text" name="movement" >
  <input type="text" name="place_of_birth" >
  <input type="submit"  value="Guardar">
</form>
