<h1>Ingresar Pintor nuevo:</h1>
<form class="https://proyectoxenv.herokuapp.com/api/users/form" action="index.html" method="put">
  <input type="text" name="id" >
  <input type="text" name="name" >
  <input type="text" name="lastname" >
  <input type="text" name="age" >
  <input type="text" name="born" >
  <input type="text" name="death" >
  <input type="text" name="movement" >
  <input type="text" name="place_of_birth" >
  <input type="button"  value="Guardar">
</form>
