

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">APIntores</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Acerca de </a>
      <a class="nav-item nav-link" href="#">API</a>
      <b class="nav-item nav-link" href="C:\Users\LaloN45\proyectox\public\stylesheets\style.css">Ingeniería de Software, ICO FES Aragón</b>
    </div>
  </div>
</nav>

<footer class="page-footer font-small black">
  <div class="footer-copyright text-center py-3">©APIntores. Todos los derechos reservados.
  </div>
</footer>

